* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-image: radial-gradient(circle, #226a85, #2b6279, #30596c, #335160, #354954);
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

