.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3.5rem;
  color: #DFDFDF;
}

.main-header h1 {
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.susarrodev-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  gap: .5rem;
  font-weight: 700;
  font-size: 1.15rem;
}

.susarrodev-logo-link img {
  border-radius: 50%;
}